@import './base.css';
#app {
    position: relative;
    z-index: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 18px 80px;
}

@media (min-width: 768px) {
    #app {
        padding: 48px 32px 110px;
    }
}

.plusicon {
    margin-bottom: 10px;
}
